@page "/Agent"
@using WebApplication6.Models
@layout Layout2
<link rel="stylesheet" href="/css/new.css" />
<div class="texth">
    <h1>Employee Details</h1>
</div>

<div class="main-w3layouts-agileinfo11">
    <div class="button">
        <p>
            <NavLink href="/CreateAgent">New Record</NavLink>
        </p>
    </div>

    <table class="wthree-form">
        <thead>
            <tr>
                <th>
                    shortName
                </th>
                <th>
                    longName
                </th>
                <th>
                    disc
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in EmployeeList)
            {
                <tr>
                    <td>
                        @item.longName
                    </td>
                    <td>
                        @item.shortName
                    </td>
                    <td>
                        @item.disc
                    </td>

                    <td>
                        <a href="/Edit/@item.reactionID">Edit</a> |
                        <a href="/Details/@item.reactionID">Details</a> |
                        <a href="/Delete/@item.reactionID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    // Assuming you have a property named EmployeeList in the code-behind
    private List<agent> EmployeeList { get; set; } = new List<agent>();
}

